{% extends 'base.html.twig' %}
{% block title 'Notre Agence' %}

{% block body %}
    <div class="jumbotron text-center">
        <h1>Agence lorem ipsum</h1>
        <p>Lorem LoremLorem LoremLorem LoremLorem LoremLorem LoremLorem LoremLorem LoremLorem LoremLorem Lorem</p>
    </div>
    <div class="container">
        <h2>Les derniers biens</h2>
        <div class="row flex">
            {% for property in properties %}
            <div class="col-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">
                            <a href="{{ path('property.show', {id: property.id, slug: property.slug}) }}">{{ property.title }}</a>
                        </h5>
                        <p class="card-text">{{ property.city }} {{ property.postalCode }}</p>
                        <div class="text-primary">{{  property.getFormattedPrice  }}</div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

    </div>


{% endblock %}
