{% extends 'base.html.twig' %}
{% block title 'Gérer les biens' %}

{% block body %}
    <div class="container mt-4">
        <h1>Editer le biens</h1>
        {{ include ('admin/property/_form.html.twig', {form: form, button: 'Editer'}) }}
    </div>


{% endblock %}