<div class="card mb-4">
    {% if property.filename %}
        <img src="{{ vich_uploader_asset(property, 'imageFile') | imagine_filter('thumb') }}" alt="card-img-top" style="width: 100%; height: auto">
    {% else %}
        <img src="{{ '/images/properties/empty.png' | imagine_filter('thumb') }}" alt="card-img-top" style="width: 100%; height: auto">
    {% endif %}
    <div class="card-body">
        <h5 class="card-title"></h5>
        <a href="{{ path('property.show', {'slug': property.slug, 'id': property.id}) }}">
            {{ property.title }}
        </a>
        <p class="card-text">{{ property.surface }} m² - {{ property.city }} ({{ property.postalCode }})</p>
        <div class="text-primary" style="font-size: 2rem; font-weight: bold">
            {{ property.formattedPrice }} €
        </div>
    </div>
</div>