{% extends 'base.html.twig' %}
{% block title 'Gérer les options' %}

{% block body %}
    <div class="container mt-4">
        <h1>Editer l'option</h1>
        {{ include ('admin/option/_form.html.twig', {form: form, button: 'Editer'}) }}
    </div>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.12/css/select2.min.css">
{% endblock %}
{% block javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.12/js/select2.min.js"></script>
    <script>
        $('select').select2();
    </script>
{% endblock %}