{% extends 'base.html.twig' %}
{% block title 'Gérer les options' %}

{% block body %}
    <div class="container mt-4">
        <h1>Ajouter une options</h1>
        {{ include ('admin/option/_form.html.twig', {form: form, button: 'Ajouter'}) }}

    </div>


{% endblock %}